<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Taplis movie</title>
	
	<link rel="stylesheet" th:href="@{/assets/css/style.css}">
	<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
	<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

	<!-- swipper cdn -->
	   <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

	   <!-- swiper js cdn -->
	       <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	       <!-- import script -->
	     <script type="module" th:src="@{/assets/js/script.js}"></script>
	     <script type="module" th:src="@{/assets/js/auth.js}"></script>
</head>

 <body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-black fixed-top  ">
            <div class="container-fluid ">
              <a class="navbar-brand header-logo" href="/index">
                <h2 class="logo-footer">Taplis</h2>
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item p-3 item-head">
                    <a class="nav-link" href="/index">Trang chủ </a>
                  </li>
                  <li class="nav-item p-3 item-head">
                    <a class="nav-link" href="javascript:void(0)">Đặt vé</a>
                  </li>
                  <li class="nav-item p-3">
                    <a class="nav-link" href="/search">
                        <!-- <div class="head-search">
                            <input type="text" placeholder="search">
                            <i class='bx bx-search-alt-2'></i>
                        </div> -->
                        <input class="form-control me-2" type="text" placeholder="Search">
                       
                    </a>
                  </li>
                </ul>
                    <a href="#" id="avatar" class="head-sing text-decoration-none ">
                    
                            <i class='bx bx-user'></i>
                            <p class="m-0" style="color: inherit;">Đăng nhập</p>
                  
                    </a>
             
              </div>
            </div>
          </nav>
    </header>

    <!-- body -->
    <body class="body bg-dark ">
        <div class="movie-detail"id="movie-detail" >
            <div class="background-blur"></div> <!-- Nền riêng biệt -->
    
            <div class="movie-poster">
                <img src="" alt="Movie Poster" id="poster_path">
            </div>
            <div class="movie-info">
                <h1 id="name">Holland (2025)</h1>
                <span>release-date : <span class="release-date " id="release_date">03/09/2025 (US)</span></span>

                <p class="overview-title"  >Overview</p>
                <p class="overview-text" id="overview">Nancy is a teacher whose life with her husband in Holland, Michigan, tumbles into a twisted tale when she and her colleague become suspicious of a secret.</p>
                <p>vote_average :  <span  id="vote_average">Score: </span></p>
               
                <div class="detail-btn">
                    <p >Đặt vé</p>
                    <div class="detail-item">
                        <i class='bx bx-play'></i>
                        <a href="" id="trailer">Play Trailer</a>
                    </div>
                </div>
            </div>
            
        </div>
      
    </body>


 
    <footer class="footer mt-5 bg-ft bg-black text-white ">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <h2 class="logo-footer">Taplis</h2>
                    <p>BE HAPPY, BE A STAR</p>
                    <div class="icon-ft">
                        <a href=""><i class='bx bxl-facebook-circle'></i></a>
                        <a href=""><i class='bx bxl-twitter'></i></a>
                        <a href=""><i class='bx bxl-instagram' ></i></a>
                    </div>
                    <p>Source: Taplis-developer</p>
                </div>
                <div class="col-md-8 col-sm-6">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 text-center">
                          
                            <ul class="ft-item">
                                <li class="pb-2 footer-li">Thể loại</li>
                                <li>Hành động</li>
                                <li>Tình cảm</li>
                                <li>Hài hước</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 text-center">
                          
                            <ul class="ft-item">
                                <li class="pb-2 footer-li">Thể loại</li>
                                <li>Hành động</li>
                                <li>Tình cảm</li>
                                <li>Hài hước</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 text-center">
                          
                            <ul class="ft-item">
                                <li class="pb-2 footer-li">Thể loại</li>
                                <li>Hành động</li>
                                <li>Tình cảm</li>
                                <li>Hài hước</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>



   

</body>
</html>