<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Taplis movie - Home</title>

	<link rel="stylesheet" th:href="@{/assets/css/style.css}">
	<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
	<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

	<!-- Swiper CDN (not used, but kept for potential future use) -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

	<!-- Import scripts -->
	<script type="module" th:src="@{/assets/js/script.js}"></script>
	<script type="module" th:src="@{/assets/js/auth.js}"></script>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-dark bg-black fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand header-logo" href="/index">
					<h2 class="logo-footer">Taplis</h2>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="mynavbar">
					<ul class="navbar-nav me-auto">
						<li class="nav-item p-3 item-head">
							<a class="nav-link" href="/lobby">Trang chủ</a>
						</li>
						
						<li class="nav-item p-3">
							<form id="navbar-search-form" class="d-flex">
								<input class="form-control me-2" type="text" id="navbar-search-input"
									placeholder="Search" autocomplete="off">
								<button class="btn btn-outline-light" type="submit">
									<i class='bx bx-search-alt-2'></i>
								</button>
							</form>
						</li>
					</ul>
					<a href="/login" class="head-sing text-decoration-none" id="avatar">
						<i class='bx bx-user'></i>
						<p class="m-0" style="color: inherit;">Đăng nhập</p>
					</a>
				</div>
			</div>
		</nav>
	</header>

	<!-- Body -->

	<body class="body bg-dark">
		<section class="homeMovie container mt-5">
			<h2 id="home-title">Nổi bật</h2>
			<div id="homeMovie" class="d-flex flex-wrap">
				<a th:each="movie : ${homeMovies}" th:href="@{/movie/{id}(id=${movie.id})}" class="movie-card m-2">
					<img th:src="${movie.posterPath}" alt="Movie Poster">
					<p th:text="${movie.title}"></p>
				</a>
			</div>
		</section>
	</body>

	<!-- Footer -->
	<footer class="footer mt-5 bg-ft bg-black text-white">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<h2 class="logo-footer">Taplis</h2>
					<p>BE HAPPY, BE A STAR</p>
					<div class="icon-ft">
						<a href=""><i class='bx bxl-facebook-circle'></i></a>
						<a href=""><i class='bx bxl-twitter'></i></a>
						<a href=""><i class='bx bxl-instagram'></i></a>
					</div>
					<p>Source: Taplis-developer</p>
				</div>
				<div class="col-md-8 col-sm-6">
					<div class="row">
						<div class="col-md-4 col-sm-4 text-center">
							<ul class="ft-item">
								<li class="pb-2 footer-li">Thể loại</li>
								<li>Hành động</li>
								<li>Tình cảm</li>
								<li>Hài hước</li>
							</ul>
						</div>
						<div class="col-md-4 col-sm-4 text-center">
							<ul class="ft-item">
								<li class="pb-2 footer-li">Thể loại</li>
								<li>Hành động</li>
								<li>Tình cảm</li>
								<li>Hài hước</li>
							</ul>
						</div>
						<div class="col-md-4 col-sm-4 text-center">
							<ul class="ft-item">
								<li class="pb-2 footer-li">Thể loại</li>
								<li>Hành động</li>
								<li>Tình cảm</li>
								<li>Hài hước</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>