<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taplis Movie - Tìm kiếm</title>

    <link rel="stylesheet" th:href="@{/assets/css/login.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/search.css}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
    <script type="module" th:src="@{/assets/js/auth.js}"></script>
    <script type="module" th:src="@{/assets/js/search.js}"></script>
    <script type="module" th:src="@{/assets/js/script.js}"></script>
</head>

<body class="bg-dark">
	<header>
	       <nav class="navbar navbar-expand-sm navbar-dark bg-black fixed-top">
	           <div class="container-fluid">
	               <a class="navbar-brand header-logo" href="/index">
	                   <h2 class="logo-footer">Taplis</h2>
	               </a>
	               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
	                   <span class="navbar-toggler-icon"></span>
	               </button>
	               <div class="collapse navbar-collapse" id="mynavbar">
	                   <ul class="navbar-nav me-auto">
	                       <li class="nav-item p-3 item-head">
	                           <a class="nav-link" href="/index">Trang chủ</a>
	                       </li>
	                       <li class="nav-item p-3 item-head">
	                           <a class="nav-link" href="javascript:void(0)">Đặt vé</a>
	                       </li>
	                       <li class="nav-item p-3">
	                           <a class="nav-link" href="/search">
	                               <input class="form-control me-2" type="text" placeholder="Search">
	                           </a>
	                       </li>
	                   </ul>
	                   <a href="#" id="avatar" class="head-sing text-decoration-none">
	                       <i class='bx bx-user'></i>
	                       <p class="m-0" style="color: inherit;">Đăng nhập</p>
	                   </a>
	               </div>
	           </div>
	       </nav>
	   </header>

    <!-- Body -->
    <div class="main mt-5">
        <form id="search-form" class="mt-5">
            <h1>Tìm kiếm bộ phim yêu thích của bạn</h1>
            <div class="d-flex justify-content-center">
                <input type="text" id="search-input" placeholder="Tìm kiếm..." autocomplete="off" aria-label="Nhập tên phim để tìm kiếm">
                
            </div>
        </form>

        <div id="movies" class="mt-4">
            <!-- Kết quả tìm kiếm sẽ được hiển thị ở đây -->
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer mt-5 bg-ft bg-black text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <h2 class="logo-footer">Taplis</h2>
                    <p>BE HAPPY, BE A STAR</p>
                    <div class="icon-ft">
                        <a href="https://facebook.com/taplis"><i class='bx bxl-facebook-circle'></i></a>
                        <a href="https://twitter.com/taplis"><i class='bx bxl-twitter'></i></a>
                        <a href="https://instagram.com/taplis"><i class='bx bxl-instagram'></i></a>
                    </div>
                    <p>Source: Taplis-developer</p>
                </div>
                <div class="col-md-8 col-sm-6">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 text-center">
                            <ul class="ft-item">
                                <li class="pb-2 footer-li">Thể loại</li>
                                <li>Hành động</li>
                                <li>Tình cảm</li>
                                <li>Hài hước</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 text-center">
                            <ul class="ft-item">
                                <li class="pb-2 footer-li">Thể loại</li>
                                <li>Hành động</li>
                                <li>Tình cảm</li>
                                <li>Hài hước</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 text-center">
                            <ul class="ft-item">
                                <li class="pb-2 footer-li">Thể loại</li>
                                <li>Hành động</li>
                                <li>Tình cảm</li>
                                <li>Hài hước</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>